.article {
  margin-top: 90px;
  margin-bottom: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.article__text {
  color: #ffffff;
  margin: 0;
}

.article__title {
  text-align: center;
  font-family: "Inter-Bold";
  font-size: 96px;
}

.article__sub-title {
  text-align: center;
  font-family: "Inter-Regular";
  font-size: 30px;
  width: 50%;
}

.article__image {
  width: 80%;
}

@media screen and (max-width: 768px) {
  .article__title {
    font-size: 75px;
  }

  .article__sub-title {
    font-size: 30px;
  }

  .article__image {
    width: 100%;
  }
}
