.footer {
  padding-top: 90px;
  max-width: 90%;
  display: flex;
  justify-content: center;
  justify-self: center;
}

.footer__copyright {
  color: #ffffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
