.places {
  max-width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  gap: 80px 40px;
}

.places__title,
.places__artists,
.places__text,
a {
  color: #ffffffff;
}

.places__header {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.places__title {
  margin-top: 0px;
  font-family: "Inter-Bold", sans-serif;
  font-size: 72px;
}

.places__image-container {
  position: relative;
}

.places__photo {
  width: 100%;
  display: block;
  box-shadow: #000000 5px 5px 10px 0;
}

.places__image-shadow {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.places__image-container:hover .places__image-shadow {
  opacity: 1;
}

.places__button,
.places__button_mobile_enabled {
  margin-top: 48px;
  max-width: 80%;
  height: 48px;
  background: linear-gradient(to right, #0278fe, #003a7b);
  box-shadow: #000000 5px 5px 10px 0;
  border-radius: 4px;
  text-align: center;
  align-content: center;
  text-decoration: none;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.places__button:hover,
.places__button_mobile_enabled:hover {
  background: #003a7b;
}

.places__button_mobile_enabled {
  max-width: 100%;
  display: none;
}

.places__content {
  padding-top: 80px;
}

.places__artists {
  margin-top: 0px;
  margin-bottom: 46px;
}

span {
  display: block;
}

.places__text {
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 95%;
  }

  .places__title {
    font-size: 42px;
  }

  .places__button {
    max-width: 100%;
  }

  .places__content {
    padding-top: 0px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    gap: 50px;
    border: 1px solid red;
  }

  .places__title {
    position: relative;
    left: 5%;
    font-size: 32px;
  }

  .places__content {
    max-width: 90%;
    margin: auto;
  }
  .places__button {
    display: none;
  }

  .places__button_mobile_enabled {
    display: block;
  }
}
